@media screen 
{
    
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: large;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    background-color: darkred;
    color: black;
    text-align: center;
    padding: 20px;
}
.divTitulo{
    flex: 80%;
    background-color: darkgreen;
}
nav{
    background-color: darkgoldenrod;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
nav a{
    color: red;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}
nav a:hover{
    background-color: white;
    color: darkgreen;
}
main{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex: 30%;
    background-color: darkviolet;
    padding: 10px;
    text-align: center;
}
section{
    flex: 70%;
    background-color: rgb(251, 255, 0);
    padding: 20px;
}
article{
    margin-bottom: 35px;
}
article p{
    text-align: justify;;
}
footer{
    background-color: red;
    text-align: center;
    padding: 20px;
}
@media screen and (max-width:700px){
nav{
    flex-flow: column;
   }
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-size: large;
}
header{
    display: flex;
    background-color: darkred;
    color: black;
    text-align: center;
    padding: 20px;
}
.divTitulo{
    flex: 80%;
    background-color: darkorange;
}
.articulo-tarjetas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tarjeta{
    border: 1px solid gold;
    width: 250px;
    border-radius: 5px;
    box-shadow: green 1px 1px 10px;
    margin: 15px;
}
.tarjeta img{
    width: 150px;
    height: 280px;
}
.descripción{
    text-align: center;
}
.precio{
    text-align: center;
}
.cuerpo-tarjeta{
    text-align: center;
    background-color: darkgoldenrod;
}
.titulo-tarjeta{
    text-align: center;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 1px solid darkorange;
    background-color: red;
    font-size: 20px;
}
.contenedor{
    display: flex;
    justify-content: center;
    position: relative;
}
nav{
    background-color: darkgoldenrod;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
section{
    flex: 70%;
    background-color: darkcyan;
    padding: 20px;
}
.slider{
    aspect-ratio: 10 / 16;
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}
.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}
.elemento{
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: red;
    width: 500px;
    height: 500px;
}
  @keyframes moverImagen {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animacion-imagen {
    animation: moverImagen 4s ease-in-out infinite;
  }
  #contenedor {
    position: relative;
}

#video, #imagen {
    width: 100%;
    height: auto;
    position: absolute;
}

#video {
    z-index: 1; /* Asegura que el video esté encima de la imagen */
}